*.xmsgs
pacman_rel004_sp3e_papilio/bit_files/pacman_nexys4.bit
pacman_rel004_sp3e_papilio/bit_files/pacman_nexys4.bmm
*.bld
*.cmd_log
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
pacman_rel004_sp3e_papilio/build/PACMAN_pad.csv
pacman_rel004_sp3e_papilio/build/PACMAN_pad.txt
pacman_rel004_sp3e_papilio/build/PACMAN_summary.xml
pacman_rel004_sp3e_papilio/build/PACMAN_usage.xml
pacman_rel004_sp3e_papilio/build/_ngo/netlist.lst
*.xreport
*.projectmgr
pacman_rel004_sp3e_papilio/build/output.txt
pacman_rel004_sp3e_papilio/build/pacman.bgn
pacman_rel004_sp3e_papilio/build/pacman.bit
pacman_rel004_sp3e_papilio/build/pacman.cfi
pacman_rel004_sp3e_papilio/build/pacman.drc
pacman_rel004_sp3e_papilio/build/pacman.mcs
*.prm
pacman_rel004_sp3e_papilio/build/pacman_500k_bd.bmm
*.lock
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/_ProjRepoInternal_/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/common/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModeACECF/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModeACEMPM/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModeBS/Device 0/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModeBS/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModeHW140/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModePFF/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModeSM/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModeSPI/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/ModeSS/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/__REGISTRY__/impact/regkeys
pacman_rel004_sp3e_papilio/build/pacman_xdb/tmp/ipf/version
*.log
pacman_rel004_sp3e_papilio/build/webtalk_pn.xml
*.xbcd
*.vdbl
*.vdbx
*.out
pacman_rel004_sp3e_papilio/roms/pacman/82s123.7f
pacman_rel004_sp3e_papilio/roms/pacman/82s126.1m
pacman_rel004_sp3e_papilio/roms/pacman/82s126.4a
pacman_rel004_sp3e_papilio/roms/pacman/namcopac.6e
pacman_rel004_sp3e_papilio/roms/pacman/namcopac.6f
pacman_rel004_sp3e_papilio/roms/pacman/namcopac.6h
pacman_rel004_sp3e_papilio/roms/pacman/namcopac.6j
pacman_rel004_sp3e_papilio/roms/pacman/pacman.5e
pacman_rel004_sp3e_papilio/roms/pacman/pacman.5f
*.sdbl
*.sdbx
*.lst
pacman_rel004_sp3e_papilio/build/gfx1.bin
pacman_rel004_sp3e_papilio/build/gfx1.vhd
pacman_rel004_sp3e_papilio/build/main.bin
pacman_rel004_sp3e_papilio/build/prom1_dst.vhd
pacman_rel004_sp3e_papilio/build/prom4_dst.vhd
pacman_rel004_sp3e_papilio/build/prom7_dst.vhd
pacman_rel004_sp3e_papilio/build/rom0.vhd
pacman_rel004_sp3e_papilio/build/rom1.vhd
pacman_rel004_sp3e_papilio/build/pacman.ipf
